<% layout('layout') -%>

<div class="container">
    <div class="row">
        <div class="col-lg-6">

            <% if (message.length > 0) { %>
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismmiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <%= message %>
            </div>
            <% } %>

            <% for (var i = 0; i < cartFound.items.length; i++) { %>

            <div class="list-group">
                <span class="list-group-item">
                    <div class="row">
                        <div class="col-md-3">
                            <span><img class="product-image" src="<%= cartFound.items[i].item.image %>"></span>
                        </div>

                         <div class="col-md-6">
                            <p class="list-group-item-heading"><%= cartFound.items[i].item.name %></p>
                         </div>

                         <div class="col-md-3">
                             <p>Quantity: <%= cartFound.items[i].quantity %></p>
                             <p>Price: <%= cartFound.items[i].price %></p>

                             <form method="post" action="/removeall">
                                 <input type="hidden" name="item" value="<%= cartFound.items[i]._id %>">
                                 <input type="hidden" name="price" value="<%= cartFound.items[i].price %>">
                                 <button type="submit" type="button">Remove All</button>
                             </form>

                              <form method="post" action="/removeone">
                                 <input type="hidden" name="item" value="<%= cartFound.items[i]._id %>">
                                 <input type="hidden" name="price" value="<%= cartFound.items[i].price %>">
                                 <button type="submit" type="button">Remove One</button>
                             </form>
                         </div>
                    </div>
                </span>
            </div>

            <% } %>
        </div>


        <div class="col-md-3"></div>


        <div class="col-md-3">
            <div class="list-group">
                <span class="list-group-item">
                    <h4>Total: $<span class="totalPrice"><%= cartFound.total %></span></h4>
                    <div class="form-group">
                        <input type="hidden" value="<%= cartFound.total %>">
                        <button type="submit" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#payModal">  Pay  </button>
                    </div>
                </span>
            </div>
        </div>

        <div class="modal fade" id="payModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        <h4>Total: $<span class="totalPrice">Total Price: <%= cartFound.total %></span></h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancle</button>
                        <form method="post" action="/payment">
                            <button type="submit" class="btn btn-primary">Confirm Payment</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
