<% layout('layout') -%>
<script src="/js/weather.js"></script>
<div class="container">

  <div class="row">
    <div class="col-sm-6 col-md-4">
      <br />
      <p>Name: <%= user.profile.name %></p>
      <p>Email: <%= user.email %></p>
      <% if (user.address === "" || typeof user.address === 'undefined')  { %>
        <p>Address: <span style="color: #c0392b; font-weight: bold">You have no address</span></p>

      <% } else { %>

      <p>Address: <%= user.address %></p>

      <% } %>

      <a href="/edit-profile" class="btn btn-primary btn-lg">Edit Profile</a>


    </div>

    <div class="col-md-6">
    <% if(user.history.length>0) {%>
      <h2 class="text-center">Purchase History</h2>

      <table class="table table-striped sticky-header">
        <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Unit Price</th>
          <th>Total Paid</th>
        </tr>
        <tbody>
        <% for(var i = 0; i < user.history.length; i++) {%>
        <tr>
          <td><%= user.history[i].item.name %></td>
          <td><%= user.history[i].quantity %></td>
          <td><%= user.history[i].item.price %></td>
          <td><%= user.history[i].paid %></td>
        </tr>
        <% } %>
        </tbody>
        </thead>
      </table>
    <% } %>
    </div>
  </div>
    <div class="row">
        <% if(products && products.length>0) {%>
        <h3 class="text-center">It is <%= user.profile.weather.text %>, you will like:</h3>
        <% for (var i = 0; i < products.length; i++) { %>
        <div class="col-md-4">
            <a href="/product/<%= products[i]._id %>">
                <div class="thumbnail">
                    <img src="<%= products[i].image %>">
                    <div class="caption">
                        <h3><%= products[i].name %></h3>
                        <p><%= products[i].category.name %></p>
                        <p>$<%= products[i].price %></p>
                    </div>
                </div>
            </a>
        </div>
        <% } %>
        <% } else if(user.profile.weather.text){%>
        <h3 class="text-center">Your weather is <%= user.profile.weather.text %>, nothing to recommend.</h3>
        <% } %>


    </div>
</div>
